@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0;
}

.app-container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  h1 {
    text-align: center;
  }
}

.trading-pairs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-item  {
  margin: 25px 0;
}

.trading-pairs-paper {
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.cosito-de-arriba {
  
  display: flex;
  flex-direction: column;

  .header {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .clear-pair-selection {
      font-size: .8rem;
      padding: 4px 10px;
      margin: 5px;
      background-color: rgb(192, 47, 47);
    }
  }

  .button-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .pair-button {
    font-size: .7rem;
    padding: 2px 4px;
    margin: 4px;
    background-color: #117e94;
  }
}

.selected.pair-button {
  padding: 6px 14px;
  background-color: rgb(28, 160, 94);
}

.pairs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.gj-number-label {
  padding: 10px;
  color: #EAEAEA;
  background:linear-gradient(#117e94,#0f6e81) ;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.43); 
  box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.43);

  h4 {
    text-transform: capitalize;
  }

  .value {
    border-top: 1px solid #EAEAEA;
    padding-top: 5px;
    margin-top: 5px;
  }
}

.average-container {
  display: flex;
  flex-direction: column;
  padding: 25px 2px;
  text-align: center;

  .single-values {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;

  }

  .single-values > * {
    width: 200px;
  }
}





.average {
  margin: 50px;
  padding: 40px;
  color: #EAEAEA;
  background:linear-gradient(#117e94,#0f6e81) ;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.43); 
  box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.43);

  h3 {
    font-size: 1.6rem;
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
  }

  h4 {
    font-size: 2.5rem;
    padding: 25px;
  }

}

@media(min-width: 768px) {

  .cosito-de-arriba {
    .button-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }

  .pairs-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}